body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

h5 {
    margin: 0;
    color: #ffffff;
}

.black {
    color: #444343;
}

.banner {
    background-image: url('./images/banner/banner3.png');
    background-size: 100% 100%;
    height: 600px;
    padding-top: 50px;
}

.banner-contents {
    margin-left: 745px;
    width: 525px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.banner-heading {
    font-size: 65px;
    font-weight: 700;
    line-height: 76.25px;
}

.banner-paragraph {
    color: #ffffff;
    margin: 30px 0;
}

.button {
    color: #005fac;
    background-color: #ffffff;
    border: none;
    width: 160px;
    height: 56px;
    border-radius: 5px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}


.failures {
    display: flex;
    justify-content: space-around;
}


.article {
    width: 35vw;
    margin: 50px 0;
    height: 450px;
    padding: 25px;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.failure-heading {
    font-size: xx-large;
}

.failures-list {
    margin: 50px 0;
}

.plans-heading {
    margin: 60px 0;
    text-align: center;
    font-size: x-large;
}

.plans {
    display: flex;
    justify-content: space-around;
}

.plan {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 15vw;
    height: 250px;
}

.gradient {
    margin-left: 8vw;
}

.positive-mindset {
    background-image: url('./images/watch.png');
    background-repeat: no-repeat;
}

.gradient-part {
    background-image: url('./images/gradient1.png');
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: xx-large;
    padding: 20px;
    margin: 30px 0;
    width: 80vw;
    height: 300px;
}

footer {
    background-color: #151414;
    color: #f2f2f2;
}

.footer-inner {
    display: flex;
    padding: 60px 20px;
}

.footer-content {
    margin-left: 60px;
    width: 65vw;
}

.footer-form {
    width: 35vw;
    padding-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 0.5rem;
    width: 80%;
    height: 35px;
    padding: 10px;
    border: 1px solid #f2f2f2;
    background: none;
    border-radius: 7px;
    margin: 20px 0;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #ffffff;
}

.button-submit {
    color: #ffffff;
    background-color: #005fac;
    border: none;
    width: 160px;
    height: 56px;
    border-radius: 5px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}

.copyright {
    text-align: center;
}